<div class="row"> 
    <ul class="large-block-grid-5">
      <li> <div class="panel"> <h4> <%= current_user.total_orders %> </h4>  <p> Total bought </p> </div></li>
      <li> <div class="panel"><h4> <%= current_user.completed_orders %> </h4><p>Completed</p> </div></li>
      <li> <div class="panel"><h4> <%= current_user.dispatched_orders %></h4> <p>Dispatched</p> </div></li>
      <li> <div class="panel"><h4> 23 </h4><p>Awaiting my review</p> </div></li>
      <li> <div class="panel"><h4> <%= current_user.cancled_orders %> </h4><p>Canceled</p> </div></li>
    </ul>
</div>
<div class="row">
  <% if @orders.any? %>
    <table>
      <thead>
        <tr>
          <th width="300">Order no</th>
          <th width="200"> <%= sortable "created_at", "Date" %></th>
          <th width="100">Quantity</th>
          <th width="200">Total</th>
          <th width="200">Order State</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.order_no, order_path(order) %></td>
            <td><%= order.created_at.strftime("%b %d %H:%M") %></td>
            <td><%= order.quantity %></td>
            <td><%= price(order.amount) %></td>
            <td><%= order.current_state.capitalize %></td>
          </tr>
        <% end %>
     </tbody>
    </table>
  <% else %>
    <h2 style="margin: 150px; text-align: center;"> You have not bought anything yet.</h2>
  <% end %>
</div>