<% if current_user %>
  <%= form_for current_user,:url =>product_delete_products_path,:method => 'PUT',:remote => true do |f|%>
    <%= hidden_field_tag "product_id",'',:value => product.id %>
    <table>
      <tr>
        <td>Enter Password:</td>
        <td><%= f.password_field :current_password %></td>
        <td><%= validation_error(current_user.errors['current_password']) %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit 'Delete' %></td>
      </tr>
    </table>
  <% end %>
<% end %>