<li class="current">
	<%= f.text_field :option, placeholder: "E.g. Standard, Two-day, International", style: "margin-top: 5px;" %>
	<span class="input-prepend">
		<span class="add-on">$</span>
		<%= f.text_field :cost, placeholder: "4.95" %>
	</span>
	<span> Days </span><%= f.text_field :time, placeholder: "0" %> 
	<%= f.hidden_field :_destroy %>
	<%= link_to "&#10006".html_safe, '#', class: "remove_soptions" %>
</li>